<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whopuppy.mapper.ChatRoomMemberMapper">
    <select id="getChatRoomMember" resultMap="chatRoomMember">
        SELECT
        <include refid="column-list">
            <property name="prefix" value=""/>
            <property name="alias" value="RM."/>
        </include>
        from chat_room_member RM
        WHERE RM.USER_ID = #{user_id}
        AND RM.CHAT_ROOM_ID = #{room_id}
    </select>

    <select id="getChatRoomMembers" resultMap="chatRoomMember">
        SELECT
        <include refid="column-list">
            <property name="prefix" value=""/>
            <property name="alias" value="RM."/>
        </include>
        from chat_room_member RM
        WHERE RM.CHAT_ROOM_ID = #{room_id}
    </select>

    <select id="test" resultMap="chatRoomMember">
        SELECT
        <include refid="column-list">
            <property name="prefix" value=""/>
            <property name="alias" value="RM."/>
        </include>
        from chat_room_member RM
        WHERE RM.CREATED_AT = #{time}

    </select>

    <resultMap id="chatRoomMember" type="com.whopuppy.domain.chat.ChatRoomMember">
        <result column="id" property="id"/>
        <result column="chat_room_id" property="chatRoomId"/>
        <result column="message_id" property="messageId"/>
        <result column="user_id" property="userId"/>
        <result column="is_create" property="isCreate"/>
        <result column="is_admin" property="isAdmin"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="column-list">
			${alias}ID AS ${prefix}ID
			,${alias}CHAT_ROOM_ID AS ${prefix}CHAT_ROOM_ID
            ,${alias}MESSAGE_ID AS ${prefix}MESSAGE_ID
            ,${alias}USER_ID AS ${prefix}USER_ID
            ,${alias}IS_CREATE AS ${prefix}IS_CREATE
            ,${alias}IS_ADMIN AS ${prefix}IS_ADMIN
			,${alias}IS_DELETED AS ${prefix}IS_DELETED
			,${alias}CREATED_AT AS ${prefix}CREATED_AT
			,${alias}UPDATED_AT AS ${prefix}UPDATED_AT
	</sql>

    <update id="setReadMessage">
        UPDATE chat_room_member SET message_id = #{to}
        WHERE user_id = #{user_id}
            AND chat_room_id = #{room_id}
    </update>
</mapper>